*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    min-width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
}
header{
    height: 100px;
    background-color: #fff;
    color: #1F7286;
    padding: 5px 10px;
}
header .logo img{
    height: 83.6px;
    width: auto;
    align-items: center;
}
header .nav-links ul{
    list-style: none;
    display: flex;
}
header .nav-links ul li{
    margin-left: 20px;
}
header .nav-links ul li a{
    color: #1F7286;
    text-decoration: none;
    padding: 20px 22px;
    transition: background 0.3s;
}
header .nav-links ul li a:hover{
    background-color: #1F7286;
    color: #fff;
    border-radius: 5px;
}
footer{
    background: #fff;
    color: #1F7286;
    display: flex;
    padding: 10px 0;
    height: 80px;
    flex-direction: column;
    align-items: center;
}
footer p{
    padding-top: 45px;
    text-align: center;
}
/*index*/
#infHome{
    background-image: url('/img/banner.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-align: right;
    padding: 20px;
}
.conteudo{
    background: rgba(252, 252, 252, 0.85);
    color:#000;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    align-items: center;
}
/*solucoes*/
#fundo{
    background-image: url('/img/banner-clean.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: right;
    padding: 20px;
}
.infOcorrencias{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ocorrido{
    flex: 1;
    color: #000; 
    padding: 20px;
    margin: 10px;
    background: rgba(252, 252, 252, 0.85);
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.35);
    transition: transform 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
}
.ocorrido h3{
    margin: 0;
    font-size: 26px;
}
.ocorrido img{
    width: 250px;
    height: 150px;
    border-radius: none;
    object-fit: cover;
    margin-bottom: 15px;
}
.ocorrido p{
    margin: 6px 0 0;
    font-size: 18px;
    color: #000;
}
.ocorrido:hover{
    transform: translateY(-5px);
}
.bt{
    display: block;
    position: static;
    bottom: 40px; /* distância do rodapé */
    transform: translateX(-50%);
    border: none;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}
.bt img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.bt:hover {
    transform: translateX(-50%) scale(1.1);
}
/*faq*/
#fundo{
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: right;
    padding: 20px;
}
.faq{
    justify-content: center;
    padding: 100px;
    width: 50%;
}
.faq-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.faq-itens a{
    background: rgba(252, 252, 252, 0.85);
    text-decoration: none;
    color:#000;
    font-weight: bold;
    font-size: 25px;
    display: block;
    border-radius: 10px;
    padding: 10px;
}
.faq-itens a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
}
/*faq-desastres*/
#fundo{
    background-image: url('/img/banner-clean.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: right;
    padding: 20px;
}
#quadro{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 75%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.titulo{
    background: rgba(252, 252, 252, 0.75);
    color: #000;
    padding: 5px 10px;
    border-radius: 10px;
    text-align: center;
}
.perguntas-respostas{
    text-align: center;
    background: rgba(252, 252, 252, 0.75);
    color: #000;
    border-radius: 10px;
    min-width: 100%;
    padding: 10px 20px;
    font-size: 18px;
}
.voltar{
    padding: 5px 10px;
    border-radius: 10px;
}
.voltar a{
    background: rgba(252, 252, 252, 0.5);
    color: #000;
    text-align: center;
    display: block;
    font-size: 16px;
}
.voltar:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
/*alerta*/
#alerta{
    justify-content: space-between;
}
.conteudo1{
    background: rgba(252, 252, 252, 0.75);
    justify-content: flex-start;
    color:#000;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: center;
    align-items: center;
}
.formulario{
    background: rgba(252, 252, 252, 0.75);
    justify-content: flex-end;
    color:#000;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    text-align: center;
    align-items: center;
}
/*integrantes*/
#fundo{
    background-image: url('/img/banner-clean.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: right;
    padding: 20px;
}
.integrantes{
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.integrante{
    flex: 1;
    color: #000; 
    padding: 20px;
    margin: 10px;
    background: rgba(252, 252, 252, 0.85);
    box-shadow: 0 4px 8px rgba(252, 252, 252, 0.35);
    transition: transform 0.3s;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
}
.integrante img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-radius: none;
    object-fit: cover;
    margin-bottom: 15px;
}
.integrante h3{
    margin: 0;
    font-size: 26px;
}
.integrante p{
    margin: 6px 0 0;
    font-size: 18px;
    color: #000;
}
.link-integrante{
    display: inline-flex;
    float: right;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.link-integrante img{
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 8px;
}
.link-integrante:hover{
    transform: translateY(-5px);
}