/*Responsividade para telas médias*/

@media (min-width: 768px) and (max-width: 991.9px){
    .nav-links{
        display: none;
    }
    header{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    #menu{
        padding: 1rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right:0;
    }
    .menu-ham{
        height: 50px;
        width: 50px;
        position: relative;
        cursor: pointer;
        padding: 1rem;
    }
    .ham-bar{
        width: 80%;
        height: 6px;
        background-color: #1F7286;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform .3s, opacity .4s, top .3s;
    }
    .bar1{
        top: 25%;
    }
    .bar3{
        top: 75%;
    }
    .menu-ham.active .bar1{
        transform: translate(-50%, -50%) rotate(-315deg);
        top: 50%;
    }
    .menu-ham.active .bar2{
        opacity: 0;
    }
    .menu-ham.active .bar3{
        transform: translate(-50%, -50%) rotate(-225deg);
        top: 50%;
    }
    .nav-off-screen{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        height: calc(100vh + 80px);
        width: 100%;
        transition: right .5s;        
        float: right;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 24px;
    }
    .nav-off-screen.active{
        right: 0;
    }
    #nav-mobile{
        width: 100%;
        height: 40px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        list-style: none;
        gap: 10px;
        margin: 0;
        padding: 0;
    }
    #nav-mobile li a{
        display: block;
        color: #1F7286;
        text-decoration: none;
        padding: 5px 10px;
    }
    #nav-mobile li a:hover{
        background-color: #1F7286;
        color: #fff;
        border-radius: 5px;
    }
    /*index*/
    #home{
        flex-direction: column;
        gap: 5px;
        margin-bottom: 150px;
    }
    .frase{
        margin-top:0;
        padding-top: 0;
        padding: 10px;
        display: block;
        max-width: 100%;
        width: 100%;
    }
    .frase img{
        display: block;
        margin-top: 0;
        padding-top: 0;
    }
    .conteudo{
        margin-top: 0;
        padding-top: 8px;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        overflow-wrap: break-word;
        margin-bottom: 150px;
    }
    /*Páginas de Soluções*/
    .infOcorrencias{
        width: 80%;
        flex-direction: column;
    }
    .ocorrido{
        padding: 5px;
        width: 95%;
    }
    .prox-pag{
        justify-content: center;
        margin: 30px 0;
    }
    .bt1 {
        margin: 0 auto;
        padding: 10px;
    }
    /*FAQ*/
    .faq{
        width: 100%;
    }
    #quadro{
        width: 95%;
    }
    .perguntas-respostas{
        padding: 5px 10px;
    }
    .voltar{
        width: 20%;
    }
    /*Alerta*/
    #alerta{
        width: 85%;
        flex-direction: column;
    }
    /*Contato*/
    #contato{
        width: 85%;
        flex-direction: column;
    }
    .lado-a-lado{
        padding: 10px;
        margin: 5px;
    }
    .fale{
        padding: 20px;
    }
    .email{
        padding: 25px;
    }
    /*Integrantes*/
    .integrantes{
        width: 75%;
        flex-direction: column;
    }
}
